body {
background-image: "/Users/marissacrawford/Desktop/MarissaCrawfordPortfolio/src/components/images/mainpage.png";
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 100%;
width: 100%;
}

/* MAINPAGE */
.mainBackground {
  background-size: cover;
  height: 80%;
  width: 100%;
}

.bio {
  width: 75%;
  margin: auto;
  text-align: center;
  /* border-radius: 25%; */

}

.bio h1 {
  font-size: 66px;
  font-weight: bold;
  color: black;

}

.bio p {
  color: black;
  font-size: 20px
}

/* PORTFOLIO PAGE */

.portfolio {
  display: flex;
}

/* ABOUT ME PAGE */

.aboutme-bio {
  width: 75%;
  margin: auto;
  text-align: center;
}

.aboutme-bio h1 {
  font-family: 'Dancing Script';
  font-size: 66px;
  font-weight: bold;
  color:black;
}

.aboutme-bio p {
  font-family: 'Montserrat';
  color: black;
  font-size: 30px
}

.aboutme-img {
  height: 250px;
  border-radius: 50%;
}

/* CONTACT PAGE */

/* RESUME */

.resume {  
  width: 75%;
  margin: auto;
  text-align: center;
}

.resume h1 {
  font-family: 'Dancing Script';
  font-size: 66px;
  font-weight: bold;
  color: black;

}
