body {
background-image: url("https://i2.pickpik.com/photos/218/836/980/black-white-minimal-minimalist-minimalistic-preview.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 100%;
width: 100%;
}

/* MAINPAGE */

.profile-img {
  height: 250px;
  border-radius: 50%;
}

.bio {
  width: 75%;
  margin: auto;
  text-align: center;

}

.bio h1 {
  font-family: 'Dancing Script';
  font-size: 66px;
  font-weight: bold;
  color: rgb(238, 153, 167);

}

.bio p {
  font-family: 'Montserrat';
  color: rgb(238, 153, 167);
  font-size: 20px
}

/* PORTFOLIO PAGE */

.portfolio {
  display: flex;
}

/* ABOUT ME PAGE */

.aboutme-bio {
  width: 75%;
  margin: auto;
  text-align: center;
}

.aboutme-bio h1 {
  font-family: 'Dancing Script';
  font-size: 66px;
  font-weight: bold;
  color:rgb(238, 153, 167);
}

.aboutme-bio p {
  font-family: 'Montserrat';
  color: rgb(238, 153, 167);
  font-size: 30px
}

.aboutme-img {
  height: 250px;
  border-radius: 50%;
}

/* CONTACT PAGE */

/* RESUME */

.resume {  
  width: 75%;
  margin: auto;
  text-align: center;
}

.resume h1 {
  font-family: 'Dancing Script';
  font-size: 66px;
  font-weight: bold;
  color:rgb(238, 153, 167);

}
